*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#0b0b0b;
font-family:'Poppins', sans-serif;
color:white;
overflow-x:hidden;
}

/* NAVBAR */

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:25px 8%;
position:absolute;
width:100%;
z-index:10;
}

.logo{
font-family:'Playfair Display', serif;
font-size:22px;
color:#d4af37;
}

.navbar nav a{
margin-left:40px;
text-decoration:none;
color:#d6d6d6;
font-size:14px;
letter-spacing:1px;
transition:0.3s;
}

.navbar nav a:hover{
color:#d4af37;
}

/* HERO */

.hero{
height:100vh;
display:flex;
align-items:center;
background:linear-gradient(to right,#050505,#111);
padding:0 8%;
}

.hero-container{
display:flex;
align-items:center;
justify-content:space-between;
width:100%;
}

/* TEXT SIDE */

.hero-text{
max-width:520px;
}

.hero-text h1{
font-family:'Playfair Display', serif;
font-size:64px;
font-weight:600;
line-height:1.1;
}

.hero-text span{
color:#d4af37;
}

.hero-text p{
margin-top:20px;
color:#b5b5b5;
font-size:17px;
line-height:1.6;
}

/* BUTTONS */

.hero-buttons{
margin-top:35px;
display:flex;
gap:20px;
}

.btn-primary{
background:#d4af37;
padding:15px 28px;
text-decoration:none;
color:black;
font-weight:500;
border-radius:4px;
transition:0.3s;
}

.btn-primary:hover{
background:#e6c45a;
}

.btn-secondary{
border:1px solid #d4af37;
padding:14px 28px;
text-decoration:none;
color:#d4af37;
border-radius:4px;
transition:0.3s;
}

.btn-secondary:hover{
background:#d4af37;
color:black;
}

/* VISUAL */

.hero-visual img{
width:600px;
border-radius:8px;
box-shadow:0 30px 80px rgba(0,0,0,0.8);
}

/* SCROLL INDICATOR */

.scroll-indicator{
position:absolute;
bottom:30px;
left:50%;
transform:translateX(-50%);
font-size:30px;
color:#d4af37;
animation:scroll 2s infinite;
}

@keyframes scroll{
0%{opacity:0; transform:translate(-50%,0);}
50%{opacity:1;}
100%{opacity:0; transform:translate(-50%,15px);}
}

/* RESPONSIVE */

@media(max-width:900px){

.hero-container{
flex-direction:column;
text-align:center;
}

.hero-text h1{
font-size:42px;
}

.hero-visual img{
width:90%;
margin-top:40px;
}

.hero-buttons{
justify-content:center;
}

.hero-visual{
margin-top:60px;
}  

.hero-visual img{
width:600px;
border-radius:8px;
box-shadow:0 30px 80px rgba(0,0,0,0.8);
filter:brightness(0.9);
}  

.btn-primary:hover{
transform:translateY(-2px);
box-shadow:0 10px 30px rgba(212,175,55,0.3);
}  
  
}
